# Ignore everything
*

# Except Claude upgrades
!.gitignore
!commands/
!commands/**
!plugins/
!plugins/**
!skills/
!skills/**

# Except default customizations
!settings.json
!CLAUDE.md
!README.md

# Exclude all plugin configurations
plugins/**

# macOS
**/.DS_Store